.activity_item {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px var(--purple_light);
  overflow: hidden;
}

.activity_item.clickable:hover {
  cursor: pointer;
}

.activity_item.clickable:hover {
  background: rgba(255,246,255,0.15);
}

.replies {
  padding-left: 24px;
  background: green;
}
.replies .activity_item{
  background: green;
}

.acitivty_main {
  padding: 16px;
}

.activity_item:last-child {
  border-bottom: none;
}

.activity_item .activity_actions {
  display: flex;
  align-items: flex-end;
  padding-top: 16px;
  padding-left: 60px;
}

.activity_item .activity_actions .action{
  flex-grow: 1;
  cursor: pointer;
  padding: 8px;
  border-radius: 999px;
  display: flex;
  flex-direction: row;
  gap: 12px
}

.activity_item .activity_actions .action .counter{
  color: green;
  font-weight: 800;
}

.activity_item .activity_actions .icon{
  height: 18px;
  width: 18px;
  fill: var(--white);
}

.activity_item .activity_actions .action:hover .icon {
  fill: var(--purple_bright);
}

.activity_item.expanded .activity_content {
  display: flex;
}
.activity_item.expanded .activity_content .activity_identity{
  flex-grow: 1;
}