nav {
  flex-shrink: 1;
  width: 280px;
  padding-top: 16px;
  padding-right: 24px;
}
nav .logo {
  width: 48px;
  height: 48px;
  fill: var(--purple_bright);
}

nav a.primary {
  display: flex;
  gap: 24px;
  align-items: center;
  color: var(--grey);
  font-size: 20px;
  text-decoration: none;
  padding: 12px 0;
  margin: 8px 0;
}
nav a.primary:hover {
  color: var(--white);
}
nav a.primary .icon {
  fill: var(--grey);
  width: 24px;
  height: 24px;
}

nav a.primary:hover .icon {
  fill: var(--white);
}

nav a.primary.active {
  color: var(--purple_bright) !important;
  font-weight: 600;
}
nav a.primary.active svg {
  fill: var(--purple_bright) !important;
}

nav button.post {
  display: block;
  background: var(--purple_bright);
  color: var(--white);
  border: none;
  text-decoration: none;
  border-radius: 999px;
  width: 100%;
  font-size: 20px;
  padding: 16px 0px;
  font-weight: 600;
  text-align: center;
  margin-top: 24px;
}

nav button.post:hover {
  color: var(--purple);
  background-color: var(--white);
}