.profile-info-wrapper.popped .profile-dialog {
  display: block;
}

.profile-info-wrapper {
  position: relative;
}

.profile-info {
  display: flex;
  gap: 12px;
  border-radius: 999px;
  padding: 12px;
  margin-top: 12px;
  align-items: center;
  position: relative;
  z-index: 2;
}

.profile-info:hover {
  background: var(--purple_bright);
}

.profile-info .profile-avatar{
  background: var(--purple_bright);
  height: 40px;
  width: 40px;
  border-radius: 999px;
  flex-shrink: 0;
}

.profile-desc {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.profile-info .profile-display-name {
  font-weight: 800;
  color: var(--white);
  font-size: 14px;
}

.profile-info .profile-username {
  color: var(--white);
  font-size: 14px;
}


.profile-info .icon {
  fill: var(--white);
  width: 18px;
  height: 18px;
  margin-right: 8px
}

.profile-dialog {
  background: var(--white);
  box-shadow: 0px 0px 3 var(--white);
  border-radius: 30px;
  min-height: 60px;
  z-index: 3;
  position: absolute;
  top: 75px;
  min-width: 260px;
  bottom: 70px;
  overflow: hidden;
  display: none;
}

.profile-dialog button {
  color: var(--purple_dark);
  font-size: 16px;
  font-weight: 600;
  padding: 24px;
  width: 100%;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}
.profile-dialog button:hover {
  color: var(--white);
  background: var(--purple_bright);
}