.search_field input[type='text'] {
  border: solid 1px var(--purple_light);
  background: var(--purple);
  padding: 16px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  color: var(--white);
}
::placeholder {
  color: var(--grey);
}

.search_field input[type='text']:focus {
  border: solid 1px var(--purple_bright);
  background: var(--purple_dark);
}